{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}

    {% include "header.html.twig"%}

    {{ form_start(registrationForm) }}
    <div class="container col-lg-4">
        <div class="my_profile">
            <label>{{ UserInfo.firstName }} </label>
            <label>{{ UserInfo.lastName }} </label>
            <a href="/edit/{{ UserInfo.id}}">Edit</a>
        </div>

        <div class="text_area">
            {{ form_errors(registrationForm.About) }}
            {{ form_label(registrationForm.About) }}
            {{ form_widget(registrationForm.About, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <button class="button btn btn-lg" type="submit">
        {% trans %} Add {% endtrans %}
    </button>

    {{ form_end(registrationForm) }}

    <div class="change_password">
        <label class="name_change_password">{% trans %} Change password {% endtrans %}</label>
        <p>
            <input type="text" placeholder=" last password" required>

        </p>
        <input type="text" placeholder=" new password" required><br>
        <button class="button_for_change_password btn" type="submit">
            {% trans %} Change {% endtrans %}
        </button>
    </div>

    {% include "footer.html.twig"%}

{% endblock %}